body, h2, p, a, button, ul, li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.forgot-password-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.forgot-password-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 100px;
}

.forgot-password-form h2 {
  margin-top: 0;
  color: #333;
}

.forgot-password-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.forgot-password-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.forgot-password-form button {
  background-color: var(--havelock-blue-500);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 16px;
}

.forgot-password-form button:hover {
  background-color: var(--havelock-blue-600);
  transform: scale(1.05);
}

.forgot-password-form p {
  margin-top: 10px;
  color: red; /* Cambia el color para errores */
}

.forgot-password-form .success {
  color: green; /* Color para mensajes de éxito */
}

.forgot-password-form a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password-form a:hover {
  text-decoration: underline;
}

.footer {
  flex-shrink: 0;
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}
/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .forgot-password-form {
    width: 90%;
    padding: 10px;
    margin-top: 50px;
  }
  .forgot-password-form h2 {
    font-size: 18px;
  }
  .forgot-password-form button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
