.homepage {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body, h2, p, a, button, ul, li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.section.main-section {
  justify-content: space-between; /* Distribuye espacio entre los elementos */
}

.text-column {
  max-width: 600px; /* Limita el ancho máximo del texto */
  text-align: left; /* Alinea el texto a la izquierda */
  /* border: 1px solid #ccc; Eliminar el borde */
  /* padding: 20px; Eliminar el padding adicional */
  /* border-radius: 5px; Eliminar bordes redondeados */
  /* background-color: #f9f9f9; Eliminar el color de fondo */
}

.text-column h2, .text-column p {
  text-align: left; /* Asegura que el texto esté alineado a la izquierda */
  margin: 0; /* Elimina márgenes adicionales */
}

.column {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column.left .diamond-image {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;
}

.new-content {
  flex: 1;
  max-width: 300px;
  order: 3;
  text-align: left; /* Alineación a la izquierda para el texto */
}

@media (max-width: 768px) {
  .column.left,
  .column:nth-child(2),
  .new-content {
    flex: 1;
    max-width: none;
    order: unset;
  }

  .text-column {
    text-align: left; /* Alinea el texto a la izquierda incluso en dispositivos móviles */
  }
}

.imagenes {
  width: 100px;
  height: 100px;
  margin-bottom: 20px; /* Añadir margen inferior a las imágenes */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title1 {

  margin-top: -100px;
  text-decoration: underline; /* Cambiar a subrayado para mejorar la estética */
}

.divider {
  margin-top: 50px; /* Ajustar el margen superior para la línea divisoria */
  width: 100%;
  border-top: 1px solid #ccc;
}

.section.main-section {
  margin-bottom: 50px; /* Reducir el margen inferior para mayor armonía */
}

.section.second-section .column h3 {
  margin-bottom: 10px; /* Añadir un pequeño margen inferior a los títulos */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .container, .container1 {
    margin-left: 0;
    margin-top: 20px;
  }
  .column {
    width: 100%;
    margin-bottom: 10px;
  }
  .imagenes {
    width: 50px;
    height: 50px;
  }
  .title1 {
    font-size: large;
    margin-top: 0;
  }
}
