.login-page-specific {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body, h2, p, a, button, ul, li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-page-specific .section1,
.login-page-specific .section2- {
  flex: 1;
}

.login-page-specific .section1 {
  padding-left: 20px;
  min-height: 100%;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.login-page-specific .section2- {
  padding-left: 20px;
  background-image: url('../assets/background_login.jpg');
  min-height: 50%;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 700px;
  height: 500px;
}

.login-page-specific .login-form1 {
  width: 70%;
  margin: auto;
  padding: 0;
  margin-top: 100px;
}

.login-page-specific .login-form1 h2 {
  margin-top: 0;
  margin-bottom: 40px;
  color: #325f9b;
}

.login-page-specific .login-form1 .input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-page-specific .login-form1 input {
  margin-bottom: 20px;
  padding: 10px 0;
  padding-left: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  width: calc(100% - 200px); /* Adjust the width to leave space for the button */
  font-size: 16px;
  box-sizing: border-box;
}

.login-page-specific .login-form1 input:last-child {
  margin-bottom: 0;
}

.login-page-specific .login-form1 input:focus {
  border-bottom: 1px solid #516CEA;
}

.login-page-specific .password-input-container {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.login-page-specific .password-toggle-button {
  position: absolute;
  top: 35%;
  right: 108px; /* Adjusted to keep it within the input field */
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.login-page-specific .password-toggle-button img {
  width: 25px;
  height: 25px;
}

.login-page-specific .olvi {
  margin-top: 20px;
}

.login-page-specific .login-button {
  padding: 5px 10px;
  margin-top: 60px;
  background-color: #325f9b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

.login-page-specific .login-button:hover {
  background-color: #0056b3;
}

.login-page-specific .login-button img {
  width: 25px;
  height: 25px;
  display: block;
  margin: auto;
}

.login-page-specific .login-text {
  display: none;
}

.login-page-specific .login-button:hover .login-text {
  display: flex;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .login-page-specific {
    flex-direction: column;
    align-items: center;
  }
  .login-page-specific .section1,
  .login-page-specific .section2- {
    width: 100%;
    margin: 10px 0;
  }
  .login-page-specific .section2- {
    height: auto;
    background-size: cover;
  }
  .login-page-specific .login-form1 {
    width: 90%;
  }
}
