* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Archivo: src/styles.css */

/* Estilo para todos los botones */
button, .contenido-clase-button2 {
  background-color: var(--havelock-blue-500);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-size: 16px;
}

/* Estilo para el hover de los botones */
button:hover, .contenido-clase-button2:hover {
  background-color: var(--havelock-blue-600);
  transform: scale(1.05);
}
